In [41]:
import pandas as pd
import numpy as np
yelp2 = pd.read_pickle("yelp_2.p")
rubmaps = pd.read_csv("rubmaps_final.csv")
yelp2.head()

,@type,_time,address,address.addressCountry,address.addressLocality,address.addressRegion,address.postalCode,address.streetAddress,address_administrative_area_level_1,address_administrative_area_level_2,...,telephone,verifiedLicenseInfo.bizSiteUrl,verifiedLicenseInfo.licenses{}.expiryDate,verifiedLicenseInfo.licenses{}.issuedBy,verifiedLicenseInfo.licenses{}.licenseNumber,verifiedLicenseInfo.licenses{}.licensee,verifiedLicenseInfo.licenses{}.trade,verifiedLicenseInfo.licenses{}.verifiedDate,lat,long
0,LocalBusiness,2020-02-08T15:04:22.000+0000,"8000 Sunset Blvd Ste 19 Salon Republic, CA, 90046",US,Los Angeles,CA,90046,8000 Sunset Blvd Ste 19 Salon Republic,NaN,NaN,...,1.323657e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0977085,-118.3648299
1,LocalBusiness,2020-02-08T15:04:03.000+0000,"7268 W Sunset Blvd, CA, 90046",US,Los Angeles,CA,90046,7268 W Sunset Blvd,NaN,NaN,...,1.323876e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.097803,-118.348703
2,LocalBusiness,2020-02-08T15:01:25.000+0000,"1218 Irvine Blvd, CA, 92780",US,Tustin,CA,92780,1218 Irvine Blvd,NaN,NaN,...,1.714625e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.7460345,-117.8089324
3,LocalBusiness,2020-02-07T21:43:39.000+0000,8000 Sunset Blvd Ste 58 Salon Christopher Coru...,US,West Hollywood,CA,90046,8000 Sunset Blvd Ste 58 Salon Christopher Corum,NaN,NaN,...,1.310211e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0977061,-118.3647567
4,LocalBusiness,2020-02-07T21:43:38.000+0000,"8000 Sunset Blvd studio 65, CA, 90046",US,West Hollywood,CA,90046,8000 Sunset Blvd studio 65,NaN,NaN,...,1.818307e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0976043,-118.365233

In [42]:
yelp2 = yelp2.drop(["@type", "_time", "verifiedLicenseInfo.licenses{}.issuedBy",
            "verifiedLicenseInfo.licenses{}.licenseNumber",
            "verifiedLicenseInfo.licenses{}.licensee",
           "verifiedLicenseInfo.licenses{}.trade",
           "verifiedLicenseInfo.licenses{}.verifiedDate",
           "verifiedLicenseInfo.bizSiteUrl", "verifiedLicenseInfo.licenses{}.expiryDate",
           "snippet.readMoreUrl", "snippet.thumbnail.src", "snippet.thumbnail.srcset",
           "searchResultBusinessHighlights.businessHighlights{}.title", 
           "searchResultLayoutType", "searchResultLayoutType",
           "searchResultBusinessHighlights.businessHighlights{}.iconName", 
           "searchResultBusinessHighlights.businessHighlights{}.id",
           "searchResultBusinessHighlights.businessHighlights{}.bizPageIconName",
           "searchResultBusinessHighlights.bizSiteUrl"], axis = 1)

In [43]:
yelp2["lat_lon"] = yelp2.lat.astype(str) + ", " + yelp2.long.astype(str)
rubmaps["lat_lon"] = rubmaps["geo.lat"].astype(str) + ", " + rubmaps["geo.lon"].astype(str)

In [44]:
pd.merge(left=yelp2, right=rubmaps, left_on='lat_lon', right_on='lat_lon')

,address_x,address.addressCountry,address.addressLocality,address.addressRegion,address.postalCode,address.streetAddress,address_administrative_area_level_1,address_administrative_area_level_2,address_country,address_formatted_address,...,worker.breast_size,worker.build,worker.ethnicity,worker.eye_color,worker.hair_color,worker.hair_length,worker.height,worker.implants,worker.name,worker.tattoos
0,"3704 N Chester Ave Ste C, CA, 93308",US,Bakersfield,CA,93308,3704 N Chester Ave Ste C,NaN,NaN,NaN,NaN,...,B,Thin,Unknown,Brown,Black,Shoulder Length,5'0''-5'5'',NaN,Eva,NaN

In [45]:
yelp2["lon"] = round(yelp2["long"].astype(float),4)
yelp2["lat_2"] = yelp2["lat"].astype(float)

In [26]:
yelp2[yelp2["lat"].astype(float) > 41.995237]

,address,address.addressCountry,address.addressLocality,address.addressRegion,address.postalCode,address.streetAddress,address_administrative_area_level_1,address_administrative_area_level_2,address_country,address_formatted_address,...,searchResultBusiness.reviewCount,searchResultBusiness.serviceArea,snippet.readMoreText,snippet.text,telephone,lat,long,lat_lon,lon,lat_2
5027,"365 S Mountain Ave 3&4, CA, 91786",US,Upland,CA,91786,365 S Mountain Ave 3&4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.909962e+10,42.1881244,-122.6995545,"42.1881244, -122.6995545",-122.69955,42.188124
27906,"731 S Hwy 101, CA, 94513",US,Solana,CA,94513,731 S Hwy 101,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.505469e+10,46.9057608,-123.7170983,"46.9057608, -123.7170983",-123.71710,46.905761
39865,"Biatchi Salon & Spa 299 W Foothill Blvd , Ste ...",US,Upland,CA,91786,"Biatchi Salon & Spa 299 W Foothill Blvd , Ste 100",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.909490e+10,42.5978176,-82.9547448,"42.5978176, -82.9547448",-82.95474,42.597818

In [27]:
yelp2[(yelp2["lon"].astype(float) > -114.133039) & yelp2['address'].notnull()][['address', 'name', 'address.addressLocality']]

,address,name,address.addressLocality
1357,"4 & 6 Wildwood Ave, CA, 94610",Weeds Salon,Oakland
3489,"Sunrise Blvd & Greenback Ln, CA, 95610",Salon Ooh Lala,Citrus Heights
4646,"632 E 14th St Kjâ€™s Barbershop, CA, 94577",Mommy Who Cuts Hair,San Leandro
5587,"Chess & Burman Salons 11239 Ventura Blvd, 21...",Girl Talk Natural Nails and Foot Reflexology,Studio City
7226,"Pico & La Cienega, CA, 90035",Sports & Neuromuscular Massage Therapy,Los Angeles
7911,"707 10th Ave Ste 219 Loft Salon, CA, 92101",Eye Candy Salon,San Diego
8563,"One Southland Mall Drive #5528, CA, 94545",Shapes Brow Bar Cart,Hayward
8564,111 Town & Country Dr Ste G Tribez Salon & Spa...,Skin Care By Zakiya,Danville
9956,1022 North Hollywood Way Darling Nikkiâ€™s Salon...,Dead Sexy Hair by Brittney Lee,Burbank
12402,"Geary & 16th Ave, CA, 94118","Amy Seo, CMT",San Francisco
13464,"Mission & 6th, CA, 93923",Studio 56,Carmel
15451,"24th & Bryant, CA, 94110",Joe Anthony Massage & Bodywork,San Francisco
15587,"Grand & Bellevue, CA, 94612",Charlie Bennett,Oakland
15776,"Mission & Washington Blvd, CA, 94539",Healing Touch by Patricia Reyes,Fremont
15822,"15th St & Michigan Ave, CA, 90404",Bodywork by Egie,Santa Monica
17724,"Van Buren, CA, n",Hair By Courtney Canaday,Riverside
17959,"111 Town & Country Dr Tribez Salon And Spa, CA...",Jennifer Araujo,Danville
22049,"1001 Lootens Pl Ste 300 Â Studio 3, CA, 94901",Salon Ciera,San Rafael
22147,"Tahiti Tans & Salon 2170 Esplanade, CA, 95926",Raeann Venard Beauty Professional,Chico
25342,"778-A & B Greenwich Dr, CA, 91360",Aviante Health and Wellness Center,Thousand Oaks
25551,"Antelope & Roseville Rd, CA, 95842",The Genesis Journey,Sacramento
29912,"18 & 20 La Plaza, CA, 92262",Winzer Hair Salon,Palm Springs
34286,"1234 Broadway Ste C, CA, 95667",Sassy Nail,Placerville
34741,"Morgan Ct & Lincoln St, CA, 93923",Profiles Hair Studio,Carmel
35635,2995 Esplenade St Ste 101 KarmÃ©re Salon And Sp...,Massage by Shelley,Chico
37238,"344 Main St Main Street Salon & Spa, CA, 92084",Skincare By Melissa,Vista
39728,"1510 Front St # 204, CA, 92101",Wellness By Candy,San Diego
39865,"Biatchi Salon & Spa 299 W Foothill Blvd , Ste ...",Go Deep Massage Therapy,Upland
41139,"14th St & Martin Luther King, CA, 94612",The Zen Temple of Bliss,Oakland
42270,"Between I-10 And 210 Fwy, CA, n",Angel Touch Therapeutic Massage,Covina
43681,"1037 17th St # A, CA, 93301",Excellent Touch Massage Therapy,Bakersfield
44010,"1445 Third Ave Ste D Dâ€™sexy Salon, CA, 91911",Best Blowouts,Chula Vista
46511,"1339 Orange Ave Ste 3 & 4, CA, 92118",Domani Salon of Beauty & Wellness,Coronado
54479,"1140 Front St The Front Street Inn & Spa, CA, ...",Bay Beauty Spa,Morro Bay

In [46]:
# Fix lat long for Face Appeal Beauty Studio
yelp2.at[5027, 'lat_2'] = 34.089323
yelp2.at[5027, 'lon'] = -117.671584
#Fix lat lon for Sound Touch
yelp2.at[27906, 'lat_2'] = 32.982086
yelp2.at[27906, 'lon'] = -117.270014
#Fix lat lon for Biatchi, even tho its closed permenently
yelp2.at[39865, 'lat_2'] = 34.108276
yelp2.at[39865, 'lon'] = -117.655003
#Fix lat lon for Weeds Salon
yelp2.at[1357, 'lat_2'] = 37.818698
yelp2.at[1357, 'lon'] = -122.244440
#Fix lat lon for Salon Ooh Lala STREET CORNER
yelp2.at[3489, 'lat_2'] = 38.678489
yelp2.at[3489, 'lon'] = -121.271611
# Fix lat lon for Mommy Who Cuts Hair
yelp2.at[4646, 'lat_2'] = 37.730615
yelp2.at[4646, 'lon'] = -122.160087
#Fix for Girl Talk Natural Nails and Foot Reflexology
yelp2.at[5587, 'lat_2'] = 34.142008
yelp2.at[5587, 'lon'] = -118.375033
#Fix for Sports & Neuromuscular Massage Therapy STREET CORNER
yelp2.at[7226, 'lat_2'] = 34.053345
yelp2.at[7226, 'lon'] = -118.376156
#FIX FOR Eye Candy Salon
yelp2.at[7911, 'lat_2'] = 32.712866
yelp2.at[7911, 'lon'] = -117.155289

In [47]:
# skin care by zakiya
yelp2.at[8564, 'lat_2'] = 37.814305
yelp2.at[8564, 'lon'] = -121.998357
# shapes brow bar cart
yelp2.at[8563, 'lat_2'] = 37.6506802
yelp2.at[8563, 'lon'] = -122.1034966
# dead sexy hair
yelp2.at[9956, 'lat_2'] = 34.168680
yelp2.at[9956, 'lon'] = -118.347139
# Amy Seo, CMT
yelp2.at[12402, 'lat_2'] = 37.780475
yelp2.at[12402, 'lon'] = -122.475116
# Studio 56 STREET CORNER AND PERMAMNETLY CLOSED
yelp2.at[13464, 'lat_2'] = 36.555646
yelp2.at[13464, 'lon'] = -121.920973
# CHARLIE BENNETT STREST CORNES
yelp2.at[15587, 'lat_2'] = 37.808687
yelp2.at[15587, 'lon'] = -122.252770
# Joe Anthony Massage & Bodywork
yelp2.at[15451, 'lat_2'] = 37.752808
yelp2.at[15451, 'lon'] = -122.409141
# healey touch
yelp2.at[15776, 'lat_2'] = 37.533407
yelp2.at[15776, 'lon'] = -121.920101
# Bodywork by Egie
yelp2.at[15822, 'lat_2'] = 34.019191
yelp2.at[15822, 'lon'] = -118.478140
# jennfier
yelp2.at[17959, 'lat_2'] = 37.814305
yelp2.at[17959, 'lon'] = -121.998357
# Hair by Courtney Canaday
yelp2.at[17724, 'lat_2'] = 33.914884
yelp2.at[17724, 'lon'] = -117.441880
# salon ciera
yelp2.at[22049, 'lat_2'] = 37.973316
yelp2.at[22049, 'lon'] = -122.526169
# Raeann Venard Beauty Professional
yelp2.at[22147, 'lat_2'] = 39.750379
yelp2.at[22147, 'lon'] = -121.854467
# aviante health
yelp2.at[25342, 'lat_2'] = 34.180101
yelp2.at[25342, 'lon'] = -118.864126

In [48]:
# The Genesis Journy STREET CORNER
yelp2.at[25551, 'lat_2'] = 38.705990
yelp2.at[25551, 'lon'] = -121.327047
# winzer hair salon
yelp2.at[29912, 'lat_2'] = 33.821716
yelp2.at[29912, 'lon'] = -116.546023
yelp2.at[25551, 'lon'] = -121.327047
# sassy nail
yelp2.at[34286, 'lat_2'] = 38.730407
yelp2.at[34286, 'lon'] = -120.786480
# profiles hair studio
yelp2.at[34741, 'lat_2'] = 36.554461
yelp2.at[34741, 'lon'] = -121.923155
# Massage by shelley
yelp2.at[35635, 'lat_2'] = 39.763591
yelp2.at[35635, 'lon'] = -121.868634
# Skincare By Melissa
yelp2.at[37238, 'lat_2'] = 33.203381
yelp2.at[37238, 'lon'] = -117.240730
# Wellness By Candy
yelp2.at[39728, 'lat_2'] = 32.721069
yelp2.at[39728, 'lon'] = -117.165053

In [49]:
# zen temple
yelp2.at[41139, 'lat_2'] = 37.806205
yelp2.at[41139, 'lon'] = -122.275947
# ANGEL TOUCH THERAPUTIC MASSAGE IS PROLLY GONNA GET DROPPED
# Excellent Touch Massage Therapy
yelp2.at[43681, 'lat_2'] = 35.374109
yelp2.at[43681, 'lon'] = -119.013835
# best blowouts
yelp2.at[44010, 'lat_2'] = 32.602221
yelp2.at[44010, 'lon'] = -117.064207
# Domani Salon of Beauty & Wellness
yelp2.at[46511, 'lat_2'] = 32.682700
yelp2.at[46511, 'lon'] = -117.177818
# bay beauty
yelp2.at[54479, 'lat_2'] = 35.369168
yelp2.at[54479, 'lon'] = -120.854049

In [50]:
yelp2 = yelp2[yelp2.address.notna()]

In [33]:
yelp2["lat_lon"] = yelp2.lat_2.astype(str) + ", " + yelp2.lon.astype(str)
rubmaps["lat_lon"] = rubmaps["geo.lat"].astype(str) + ", " + rubmaps["geo.lon"].astype(str)

## Concat!

In [51]:
yelp2["yelp"] = 1
yelp2["rubmaps"] = 0
rubmaps["yelp"] = 0
rubmaps["rubmaps"] = 1

In [52]:
yelp = yelp2[['name', "address", 'lat_2', 'lon', 'yelp', 'rubmaps']].rename(columns={'lat_2': 'lat'})

In [53]:
rub =rubmaps[['name{}', 'address', 'geo.lat', 'geo.lon', 'yelp', 'rubmaps']].rename(columns={'name{}': 'name','geo.lat':'lat', 'geo.lon':'lon'})

In [81]:
concat = pd.concat([yelp, rub])
concat = concat.reset_index().drop(["index"], axis = 1)
concat.head()

,name,address,lat,lon,yelp,rubmaps
0,A&B,"8000 Sunset Blvd Ste 19 Salon Republic, CA, 90046",34.097709,-118.3648,1,0
1,Hollywood Classic Barbershop & Salon,"7268 W Sunset Blvd, CA, 90046",34.097803,-118.3487,1,0
2,Sola Salon Studios-Nahid professional Hair Sty...,"1218 Irvine Blvd, CA, 92780",33.746035,-117.8089,1,0
3,J Wesley Hair,8000 Sunset Blvd Ste 58 Salon Christopher Coru...,34.097706,-118.3648,1,0
4,Alexander Braun Hairstylist,"8000 Sunset Blvd studio 65, CA, 90046",34.097604,-118.3652,1,0

In [82]:
concat["lon"] = round(concat["lon"].astype(float),5)
concat["lat"] = round(concat["lat"].astype(float),5)
concat['lat_lon'] = list(zip(concat['lat'], concat['lon']))
concat.head()

,name,address,lat,lon,yelp,rubmaps,lat_lon
0,A&B,"8000 Sunset Blvd Ste 19 Salon Republic, CA, 90046",34.09771,-118.3648,1,0,"(34.09771, -118.3648)"
1,Hollywood Classic Barbershop & Salon,"7268 W Sunset Blvd, CA, 90046",34.09780,-118.3487,1,0,"(34.0978, -118.3487)"
2,Sola Salon Studios-Nahid professional Hair Sty...,"1218 Irvine Blvd, CA, 92780",33.74603,-117.8089,1,0,"(33.74603, -117.8089)"
3,J Wesley Hair,8000 Sunset Blvd Ste 58 Salon Christopher Coru...,34.09771,-118.3648,1,0,"(34.09771, -118.3648)"
4,Alexander Braun Hairstylist,"8000 Sunset Blvd studio 65, CA, 90046",34.09760,-118.3652,1,0,"(34.0976, -118.3652)"

In [67]:
def similar(t1, t2, epsilon):
    diff1 = abs(t1[0] - t2[0])
    diff2 = abs(t1[1] - t2[1])
    if (diff1 <= epsilon) and (diff2 <= epsilon):
        return True
    else:
        return False

In [175]:
concat["id"] = 0
id_ = 1
i = 0
while (i <= len(concat)):
    if concat.iloc[i]["id"] == 0:
        concat.at[i, "id"] = id_
        old = concat.iloc[i]["lat_lon"]
        for j in range(i,len(concat)):
            new = concat.iloc[j]["lat_lon"]
            if concat.iloc[j]["id"] == 0:
                if similar(new, old):
                    concat.at[j, "id"] = id_
        id_ +=1
    break

In [90]:
def fuzzy_latlon(df, epsilon=0.0001):
    df_new = df.sort_values(by=['lat','lon'])
    df_new = df_new.reset_index().drop(["index"], axis = 1)
    g_id = 0
    df_new['g_id'] = -1
    j = 0
    for i in range(len(df) - 1):
        if i >= j:
            old = df_new.iloc[i]['lat_lon']
            df_new.at[i, 'g_id'] = g_id
            j = i + 1
            while similar(df_new.iloc[j]['lat_lon'],old,epsilon):
                df_new.at[j, 'g_id'] = g_id
                j += 1
            g_id += 1
        if i % 10000 == 0:
            print(i)
    return df_new

In [91]:
fuz_concat = fuzzy_latlon(concat)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000

In [99]:
fuz_grouped = fuz_concat.groupby(['g_id']).sum()
fuz_grouped[(fuz_grouped['yelp'] > 0) & (fuz_grouped['rubmaps'] > 0)]
fuz_grouped['reviews'] = fuz_grouped['yelp'] + fuz_grouped['rubmaps']
#fuz_grouped[fuz_grouped['reviews'] > 1]

             lat        lon  yelp  rubmaps  reviews
g_id
6      488.61555 -1755.8274     0       15       15
7       97.72341  -351.1659     3        0        3
8       65.15046  -234.2108     2        0        2
9       97.72824  -351.2382     3        0        3
10     325.76170 -1170.7929     0       10       10
...          ...        ...   ...      ...      ...
41128   82.84984  -244.7672     2        0        2
41133  124.42464  -367.0632     3        0        3
41144   83.46350  -245.2744     2        0        2
41148   83.50434  -248.3686     2        0        2
41167   83.57786  -248.4078     2        0        2

[15507 rows x 5 columns]

In [63]:
grouped = concat.groupby(['lat', 'lon']).sum()

#grouped[(grouped['yelp'] > 0) & (grouped['rubmaps'] > 0)]
grouped['reviews'] = grouped['yelp'] + grouped['rubmaps']
grouped[grouped['reviews'] > 2]

                   yelp  rubmaps  reviews
lat     lon
32.5744 -117.0552     0       15       15
32.5745 -117.0553     3        0        3
32.5761 -117.0794     3        0        3
32.5762 -117.0793     0       10       10
32.5832 -117.1005     0       72       72
...                 ...      ...      ...
40.8695 -124.0882     4        0        4
40.8712 -124.0858     3        0        3
40.8731 -124.0839     3        0        3
41.3166 -122.3162     3        0        3
41.4749 -122.3544     3        0        3

[8497 rows x 3 columns]

In [120]:
concat.groupby(['address']).count()

,name,lat,lon,yelp,rubmaps
address,,,,,
"1 Baywood Ave Ste 1, CA, 94402",2,2,2,2,2
"1 Baywood Ave Ste 11, CA, 94402",1,1,1,1,1
"1 Blackfield Dr Olympic Physical Therapy, CA, 94920",1,1,1,1,1
"1 Blackfield Dr, CA, 94920",2,2,2,2,2
"1 BluHarbor Blvd, CA, 94063",1,1,1,1,1
...,...,...,...,...,...
"Yoga Satya, CA, 96067",1,1,1,1,1
"call for addess Los Angeles, CA, 90028",2,2,2,2,2
"call for address Canoga Park, CA, 91303",4,4,4,4,4
"call for address San Francisco, CA, 94128",6,6,6,6,6
"â€‹5015 Canyon Crest Dr Suite 109, CA, 92507",2,0,2,2,2

In [121]:
concat.groupby(['name']).count()

,address,lat,lon,yelp,rubmaps
name,,,,,
# 1 Nail And Spa,1,1,1,1,1
#1 Hair & Nails,1,1,1,1,1
#1 Nails And Spa,1,1,1,1,1
#1 Nails and Spa,1,1,1,1,1
#1 Smile Massage,11,11,11,11,11
...,...,...,...,...,...
â€‹Center for Integrative Health and Healing,1,1,1,1,1
â€‹â€‹Transformational Abdominal Massage by Jada Delaney,1,1,1,1,1
â€‹â€‹â€‹Stellaâ€™s Nails & Skinâ€‹,1,1,1,1,1
â€˜Ohana Hair Studio,1,1,1,1,1
æ¼¢ç”Ÿå ‚ Reflexology,1,1,1,1,1

In [25]:
yelp2.sort_values(by=['lon'], inplace=True)
rubmaps.sort_values(by=['geo.lon'],inplace=True)

In [26]:
yelp2_lon = yelp2[yelp2['lon'].notna()]

In [27]:
merged_lon = pd.merge_asof(yelp2_lon, rubmaps, left_on='lon', right_on='geo.lon', direction='nearest')

In [28]:
merged_lon_filtered = merged_lon.loc[abs(merged_lon['geo.lon'] - merged_lon['lon']) < 0.0001, :]#[['geo.lon', 'lon']]

In [37]:
#merged[['geo.lon', 'lon','geo.lat', 'lat']]
merged1 = merged_lon_filtered.loc[
    abs(merged_lon_filtered['geo.lat'] - merged_lon_filtered['lat_2']) < 0.0001,:]

In [30]:
yelp2.sort_values(by=['lat_2'], inplace=True)
rubmaps.sort_values(by=['geo.lat'],inplace=True)

In [31]:
yelp2_lat = yelp2[yelp2['lat_2'].notna()]

In [32]:
merged_lat = pd.merge_asof(yelp2_lat, rubmaps, left_on='lat_2', right_on='geo.lat', direction='nearest')

In [33]:
merged_lat_filtered = merged_lat.loc[abs(merged_lat['geo.lat'] - merged_lat['lat_2']) < 0.0001, :]#[['geo.lon', 'lon']]
#= np.nan
#merged.dropna()

In [38]:
#merged[['geo.lon', 'lon','geo.lat', 'lat']]
merged2 = merged_lat_filtered.loc[
    abs(merged_lat_filtered['geo.lon'] - merged_lat_filtered['lon']) < 0.0001,:]

In [43]:
pd.concat([merged1, merged2]).sort_index()

,address_x,address.addressCountry,address.addressLocality,address.addressRegion,address.postalCode,address.streetAddress,address_administrative_area_level_1,address_administrative_area_level_2,address_country,address_formatted_address,...,worker.build,worker.ethnicity,worker.eye_color,worker.hair_color,worker.hair_length,worker.height,worker.implants,worker.name,worker.tattoos,lat_lon_y
10,"2511 Coronado Ave, CA, 92154",US,San Diego,CA,92154,2511 Coronado Ave,NaN,NaN,NaN,NaN,...,Average,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',1.0,Forgot To Ask,0.0,"32.57617, -117.07929"
11,"2511 Coronado Ave, CA, 92154",US,San Diego,CA,92154,2511 Coronado Ave,NaN,NaN,NaN,NaN,...,Average,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',1.0,Forgot To Ask,0.0,"32.57617, -117.07929"
12,"2511 Coronado Ave, CA, 92154",US,San Diego,CA,92154,2511 Coronado Ave,NaN,NaN,NaN,NaN,...,Average,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',1.0,Forgot To Ask,0.0,"32.57617, -117.07929"
87,"1989 Harrison Ave, CA, 95501",US,Eureka,CA,95501,1989 Harrison Ave,NaN,NaN,NaN,NaN,...,Average,Chinese,Brown,Black,Shoulder Length,5'0''-5'5'',0.0,Jeny,0.0,"40.78937, -124.13929"
291,"3404 Bonita Rd, CA, 91910",US,Chula Vista,CA,91910,3404 Bonita Rd,NaN,NaN,NaN,NaN,...,Average,Chinese,Brown,Black,Long,5'0''-5'5'',0.0,YoYo,NaN,"32.65039, -117.05145"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55204,"505 W Aten Rd, CA, 92251",US,Imperial,CA,92251,505 W Aten Rd,NaN,NaN,NaN,NaN,...,Average,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',NaN,Jamie,NaN,"32.825340000000004, -115.57899"
55205,"505 W Aten Rd, CA, 92251",US,Imperial,CA,92251,505 W Aten Rd,NaN,NaN,NaN,NaN,...,Average,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',NaN,Jamie,NaN,"32.825340000000004, -115.57899"
55237,"1950 S 4th St Ste 5, CA, 92243",US,El Centro,CA,92243,1950 S 4th St Ste 5,NaN,NaN,NaN,NaN,...,Petite,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',NaN,Didn't ask,NaN,"32.77683, -115.5532"
55238,"1950 S 4th St, CA, 92243",US,El Centro,CA,92243,1950 S 4th St,NaN,NaN,NaN,NaN,...,Petite,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',NaN,Didn't ask,NaN,"32.77683, -115.5532"
55239,"1950 S 4th St Ste 5, CA, 92243",US,El Centro,CA,92243,1950 S 4th St Ste 5,NaN,NaN,NaN,NaN,...,Petite,Asian,Brown,Black,Shoulder Length,5'0''-5'5'',NaN,Didn't ask,NaN,"32.77683, -115.5532"